body {
    font-family: "Manrope-Medium", sans-serif;
    color: #414141;
    background: linear-gradient(90deg,
    rgba(55, 55, 255, 1) 3%,
    rgba(0, 212, 255, 0.85) 23%,
    rgba(23, 77, 198, 1) 97%);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}
